<div class="container py-5" *ngIf="course">
  <div class="row align-items-center">
    <div class="col-md-6">
      <img [src]="course.imagen" [alt]="course.titulo" class="img-fluid rounded shadow-lg">
    </div>
    <div class="col-md-6 text-white">
      <h1 class="display-4">{{ course.titulo }}</h1>
      <p class="badge bg-primary fs-6">{{ course.categoria }}</p>
      <div class="my-4">
        <span class="h1 text-info">{{ course.precio }}€</span>
      </div>
      <button (click)="agregarAlCarrito()" class="btn btn-lg btn-info w-100">AÑADIR AL CARRITO</button>
    </div>
  </div>
</div>
