<div class="container d-flex align-items-center justify-content-center min-vh-100 text-center text-white">
  <div>
    <h1 class="display-1 fw-bold text-neon" style="font-size: 8rem; text-shadow: 0 0 20px #00f3ff;">404</h1>
    <h2 class="mb-4">SISTEMA COMPROMETIDO: RUTA NO ENCONTRADA</h2>
    <p class="lead mb-5 text-secondary">Parece que el curso o la sección que buscas ha sido hackeada o no existe en nuestra base de datos.</p>

    <button class="btn btn-neon btn-lg" routerLink="/">
      <i class="bi bi-house-door me-2"></i>REINICIAR SISTEMA (VOLVER)
    </button>
  </div>
</div>
