<div class="container mt-5 pt-5">
  <h2 class="text-neon text-center mb-5">CATÁLOGO DE CURSOS</h2>

  <div class="row g-4">
    @for (course of courses; track course.id) {
      <div class="col-md-4">
        <div class="card bg-dark border-neon h-100 shadow-lg">
          <img [src]="course.image" class="card-img-top p-2 rounded" style="height: 200px; object-fit: cover;">

          <div class="card-body text-white text-center">
            <h5 class="card-title text-info">{{ course.title }}</h5>
            <p class="fs-4 text-neon fw-bold">{{ course.price }}€</p>

            <div class="d-grid gap-2 mt-3">
              <button class="btn btn-neon fw-bold" (click)="agregarAlCarrito(course)">
                AÑADIR AL CARRITO
              </button>
              <button class="btn btn-outline-secondary btn-sm" [routerLink]="['/detalle-curso', course.id]">                VER DETALLES
              </button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
