<div class="container py-5">
  <div class="row g-4">
    <div class="col-lg-8">
      <h2 class="text-white mb-4">Finalizar Compra</h2>
    </div>

    <div class="col-lg-4">
      <div class="cyber-card p-4" style="background: #0a0a12; border: 1px solid #bc13fe;">
        <h4 class="purple-text mb-4">Tu Resumen</h4>

        @for (item of cartService.getCart(); track item.id) {
          <div class="d-flex justify-content-between mb-2">
            <span class="text-white opacity-75">{{ item.titulo }}</span>
            <span class="purple-text fw-bold">{{ item.precio }}€</span>
          </div>
        }

        <hr class="text-white">
        <div class="d-flex justify-content-between fs-4">
          <span class="text-white">TOTAL:</span>
          <span class="purple-text fw-bold">{{ cartService.totalPrice() }}€</span>
        </div>
      </div>
    </div>
  </div>
</div>
